/* === BASE HEADING === */

:root{
    --blu: #006ba7;
}



.titolo h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #111111;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.titolo h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

.titolo h1 em {
    font-style: normal;
    font-weight: 600;
    color: #006ba7;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    position:sticky;
}

.navbar li {
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar li a:hover {
    background-color: #111;
}

.articoli{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:15px;
    color: #fff;
}

.logOut{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:15px;
    color: #fff;
    text-align: right;
}

.articoli:hover{
    background-color: #111111;
}

.cart:hover{
    background-color: #111111;
}

.logOut2:hover{
    background-color: #111111;
}

.cart {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:2px;
}

.addToCart{
    background-color: var(--blu)!important;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px!important;
    border-radius: 12px;
    margin-top:20px;
}

.addToCart:hover{
    background-color: #243b55!important;
}

.menu-icon{
    width:28px;
    margin-left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:6px;
    text-align: right;
    display:none;
}



/*---------media query for menu -----------*/
@media only screen and (max-width: 800px){

    .navbar ul{
        display:none;
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    .navbar ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .navbar ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}



/*--------per schermi da 600px -----------*/
@media only screen and (max-width: 600px){
    .row{
        text-align:center;
    }
    .col-2, .col-3, .col-4{
        flex-basis:100%;
    }

}



.log{
    float:right!important;
    flex:1;
    text-align: right;
    display: inline-block;
    margin-right:20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}

.col-2 img{
    max-width:100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}


.small-container{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;

}

.titleProduct{
    text-align:center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.titleProduct::after{
    content: '';
    background: #006ba7;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size:14px;
}

.col-4 button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:2px;
}

.col-4:hover{
    transform: translateY(-5px);
}





/*-------recensioni --------------------*/


.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: trasnform 0.5s;
}

.testimonial .col-3 img{
    width: 100px;
    margin-top: 20px;
    border-radius: 0%;
}


.quote{
    font-size: 34px;
    color: #006ba7;

}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*-----------titoli sotto---------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex:1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top:20px;
}
.app-logo img{
    width:140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

