/* === BASE HEADING === */

:root{
    --blu: #006ba7;
}

.addToCart{
    background-color: var(--blu)!important;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px!important;
    border-radius: 12px;
    margin-top:20px;
}

.addToCart:hover{
    background-color: #243b55!important;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}

.col-2 img{
    max-width:50%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}


.small-container{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;

}

.titleProduct{
    text-align:center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.titleProduct::after{
    content: '';
    background: #006ba7;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size:14px;
}

.col-4 button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:2px;
}

.col-4:hover{
    transform: translateY(-5px);
}





/*-------recensioni --------------------*/


.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: trasnform 0.5s;
}

.testimonial .col-3 img{
    width: 100px;
    margin-top: 20px;
    border-radius: 0%;
}


.quote{
    font-size: 34px;
    color: #006ba7;

}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

